argparse
brunette
click
codecov
coverage
cryptography
flake8
gradio
ipython
numpy
Pillow
pre-commit
pytest
pytest-cov
pytest-random-order
pytest-sugar
PyYAML
rich
Sphinx>=5,<6
sphinx_rtd_theme
torch
torchvision
tqdm
