torch
torchvision
Pillow
numpy
PyYAML
tqdm
pre-commit
cryptography
argparse
gradio
numpy
ipython
rich
click
brunette
pytest
Sphinx>=5,<6
sphinx_rtd_theme
codecov
coverage
pytest
pytest-cov
pytest-random-order
pytest-sugar
flake8
